<% provide(:title, 'About') %>

<h1>Sample App About Page</h1>
<p>
  This is the about page for the
  <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  Sample Application
</p>



